@import '~antd/dist/antd.css';

.app-header,
.app-content {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

.app-header {
  margin-top: 12vh;
  background: unset;
}

/* default antd style overrides */
/* edit/add subtask icons */
.anticon svg {
  font-size: 1.25em;
}

/* add task icons */
button .anticon svg {
  font-size: 1em;
}

/* task checkbox */
.ant-tree-checkbox-inner {
  top: -2px;
  width: 20px;
  height: 20px;
}
